<fieldset class="module {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description px-8 py-4 bg-slate-50 text-xs text-slate-500 italic">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length == 1 %}
                {{ line.errors }}
                <label class="{% if line.fields.0.field.field.required %}required{% endif %}" for="{{ line.fields.0.field.id_for_label }}">
                    {{ line.fields.0.field.label }}:
                </label>
                <div class="flex-1">
                    {{ line.fields.0.field }}
                    {% if line.fields.0.field.help_text %}
                        <div class="help">{{ line.fields.0.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="flex flex-wrap gap-8 w-full">
                    {% for field in line %}
                        <div class="flex-1 min-w-[200px]">
                            {{ field.errors }}
                            <label class="block mb-2 text-sm font-bold text-slate-600 {% if field.field.field.required %}required{% endif %}" for="{{ field.field.id_for_label }}">
                                {{ field.field.label }}:
                            </label>
                            {{ field.field }}
                            {% if field.field.help_text %}
                                <div class="help">{{ field.field.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</fieldset>
